/* @tailwind base; */

body {
  margin: 0;
}

@tailwind components;
@tailwind utilities;

#media-converter {
  max-width: 1200px;
  margin: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.file-list {
  @apply x-bg-white;
  @apply x-font-medium;
  @apply x-text-gray-900;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.file-list .file-list-item {
  @apply x-w-full;
}

.file-list .file-list-item:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
